@*
Importamos/Agregamos el IEnumerable(que contiene todos los proyectos)*@
@model IEnumerable<ProyectoViewModel>

@* Si el modelo no es nulo has esto *@
@if (Model is not null)
{
                                int cont = 1;

                                <div class="row row-cols-1 row-cols-md-2 g-5">

                                @* Dentro de este foreach ira una pequeña estructura html para que cada iteración se muestre en un diseño *@
                                @foreach (var proyecto in Model)
                                {
                                    
                                    <!--Proyecto @cont-->
                                    <div class="col mb-2 mb-sm-2 mb-md-2">
                                        <div class="card-proyecto-hijo h-100">
                                        @* <div class="card-header">
                                                <h5 class="card-title">Proyecto @cont</h5>
                                            </div> *@
                                            <div class="card-img" title="Clic para ver la imagen">
                                                <a target="_blank" href="@proyecto.ImagenURL">
                                                    <img src="@proyecto.ImagenURL" class="card-img-top" alt="imagen @proyecto.Titulo" width="100" height="200" />
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><b>@proyecto.Titulo</b></h5>
                                                <p class="card-text">@proyecto.Descripcion</p>
                                            </div>
                                            <div class="card-footer">
                                                @* <div class="card-footer" style="background-color: #d5d8dc  "> *@
                                                <a class="btn btn-primary" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Ver repositorio</a>
                                            </div>
                                        </div>
                                    </div>
                                    cont++;
                                }

                                </div>
}